@page "/fetchdata"

<PageTitle>Query</PageTitle>

@using Admin.Data
@inject DatabaseService DatabaseService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            @foreach (var header in results.Headers)
                {
                    <td>@header</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in results.Rows)
            {
                <tr>
                    @foreach (var r in row)
                    {
                        <td>@r</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DatabaseQueryResult results;
    //private List<IGrouping<string, DatabaseSchemaResult>> schema;

    protected override async Task OnInitializedAsync()
    {
        results = await DatabaseService.FromRawSqlAsync("select * from users;");
        //schema = DatabaseService.GetDatabaseSchema().Result;
    }
}
