@page "/"

<PageTitle>Index</PageTitle>

@using Admin.Data
@inject DatabaseService DatabaseService
@inject IJSRuntime JsRuntime

<RadzenSplitter Orientation="Orientation.Vertical" style="height: 600px; border: 1px solid rgba(0,0,0,.08);">
    <RadzenSplitterPane Size="100px">
        <RadzenSplitter>
            <RadzenSplitterPane Size="20%" Min="30px" Max="40%">
                <RadzenCard style="height: 100%;">
                    <RadzenTree Style="height: 300px" Data=@schema>
                        <RadzenTreeLevel TextProperty="Table" ChildrenProperty="Columns" />
                        <RadzenTreeLevel TextProperty="Column" />
                    </RadzenTree>
                </RadzenCard>
            </RadzenSplitterPane>
            <RadzenSplitterPane>

                <RadzenSplitter Orientation="Orientation.Vertical"
                    style="height: 600px; border: 1px solid rgba(0,0,0,.08);">
                    <RadzenSplitterPane Size="30%">
                        <RadzenSplitter>
                            <RadzenSplitterPane Size="50px" Min="30px">
                                <RadzenCard style="height: -webkit-fill-available;">
                                    <RadzenTextArea Class="w-100" @bind-Value=@query
                                        style="height: -webkit-fill-available; margin-bottom: 10px;" />
                                    <RadzenButton Click=@(args => OnClick("Secondary button")) Text="Execute"
                                        ButtonStyle="ButtonStyle.Secondary" />
                                    <p>
                                        <label>@errorMessage</label>
                                    </p>
                                </RadzenCard>
                            </RadzenSplitterPane>
                        </RadzenSplitter>
                    </RadzenSplitterPane>
                    <RadzenSplitterPane Size="70%">
                        <RadzenSplitter>
                            <RadzenSplitterPane Size="50px" Min="30px">
                                <RadzenCard style="height: -webkit-fill-available;">
                                    @if (results == null)
                                    {
                                        <p><em>Enter a SQL statement, and click "Execute".</em></p>
                                    }
                                    else
                                    {
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    @foreach (var header in results.Headers)
                                                    {
                                                        <td>@header</td>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var row in results.Rows)
                                                {
                                                    <tr>
                                                        @foreach (var r in row)
                                                        {
                                                            <td>@r</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </RadzenCard>
                            </RadzenSplitterPane>
                        </RadzenSplitter>
                    </RadzenSplitterPane>
                </RadzenSplitter>

            </RadzenSplitterPane>
        </RadzenSplitter>
    </RadzenSplitterPane>
</RadzenSplitter>

@code {
    private string query = "";
    private string errorMessage = "";
    private DatabaseQueryResult results;
    private List<DatabaseSchemaResult> schema;

    protected override async Task OnInitializedAsync()
    {
        schema = DatabaseService.GetDatabaseSchema().Result;
    }

    void OnClick(string buttonName)
    {
        try
        {
            results = DatabaseService.FromRawSqlAsync(query).Result;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            //JsRuntime.InvokeVoidAsync("alert", ex.Message);
            errorMessage = ex.Message;
        }
    }
}